<div class="row">
    <div class="col-md-8 box-holder">
        <h2>To Do List</h2>
        <header id="header">
            <form id="todo-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="What Needs to be done?" ng-model="task.name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addTask(task)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </header>
        <section class="list-holder">
            <div class="input-group list-item" ng-repeat="task in tasks | filter: {completed:false} track by $index">
                <span class="input-group-addon">
                    <input type="checkbox" aria-label="..." ng-change="markCompleted(task)" ng-model="task.completed">
                </span>
                <div type="text" class="form-control" aria-label="...">
                    {{task.name}}
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="deleteTask(task,$index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
        </section>
    </div>
    <div class="col-md-4 box-holder completed-container">
        <h2>Completed</h2>
        <li ng-repeat="task in tasks | filter: {completed:true}" class="input-group completed-task-item">
            <span typeof="text" class="form-control complete-task-name">
                {{task.name}}
            </span>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-repeat"></span>
                </button>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="deleteTask(task,$index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </li>
    </div>
</div>